body {
    background-color: #FCEBB6; 
    color: #221811;
    font-family: Verdana, Arial, sans-serif; 
    background-image: url(images/sandwich.jpg);
}

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3em;
    text-align: center;
    padding-bottom: .25em;
    text-transform: uppercase;
    background-color: #D2B48C;
}

header {
    background-color: #D2B48C;
}

h2 {
    background-color: #D2B48C;
    text-align: center;
    padding-bottom: .25em; 
    font-size: 1.2em;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
}

li {
    color: #66004D;
}

a {
    color: #3366ff;
    background-color: #ffffe6;
}

a:hover {
    color: #66ffff;
    border: 3px inset #66ffff;
}

a:visited {
    color: pink;
}

main {
    background-color: #D2B48C;
    display: block;
}

img {
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #660066;
    border-radius: 8px;
    box-shadow: 2px 4px #660066;
}

.floatleft {
    float: left;
    margin-right: 4em;
}

* {
    box-sizing: border-box;
}

/* Basic Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


tr:nth-child(even) {
    background-color: #f9f9f9;
}


tr:hover {
    background-color: #e0e0e0;
}


table:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


td, th {
    border: 1px solid #ddd;
}

/* Additional styles for the form */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

form p {
    font-size: 1.5em;
    color: #66004D;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #3366ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #66ffff;
}

@media only screen and (max-width: 768px) {
    #wrapper {
        width: 100%;
    }

    h1 {
        font-size: 2em;
        padding-bottom: 0.1em;
    }

    h2 {
        font-size: 1.5em;
    }

    header {
        height: auto;
    }

    main {
        padding: 10px;
    }

    .floatleft {
        float: none;
        margin-right: 0;
    }

    img {
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
    }
    form {
        width: 100%;
    }
}
